body {
    position: relative;
}

/*----------barra de navegacion------------------*/

nav {
    background: transparent;
    color: white;
    text-decoration: none;
}

.logo-name .navbar-brand {
    color: white;
    text-decoration: none;
}

.logo-name img {
    width: 40px;
    height: 40px;
}

.nav-buscar {
    background: transparent;
}

.form-buscar {
    border-radius: 10px;
}

.btn {
    text-align: center;
    border-radius: 10px;
}

.nav-link .fa {
    color: white;
}

.fas {
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-toggler {
    color: black;
}

/*------------------------------------fin de navegacion..--------------------------*/

.contenido_eventual {
    margin-top: -70px;
    width: 100%;

}

.contenido_eventual .evento {
    width: 100%;
    height: 400px;
}

.contenido_eventual .evento img {
    width: 100%;
    height: 400px;
}

.contenido_eventual .detalle_evento {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 10%;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 1;
}

.contenido_eventual .detalle_evento h1 {
    font-size: 70px;
    font-family: 'Pacifico', cursive;
    opacity: .3;
}
.contenido_eventual .detalle_evento img{
    width: 300px;
    height: 300px;
    opacity: .3;
}

.titulo_2{
    font-size: 30px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: rgb(255, 115, 0);

}

.s_contenido_eventos {
    width: 100%;
    height: 300px;
}

.s_contenido_eventos .swiper-container {
    width: 100%;
    height: 100%;
    background-image: url(../image/img19.jpg);
    background-size: 100% 100%;
}

.s_contenido_eventos .swiper-container .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(235, 120, 120);
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}