{% extends 'PortalElAltoApp/baseareaverde.html' %}
{%load static %}
{% block presentacion %}
<h1>Festivales</h1>
<p>Los Festivales son parte importante de la cultura y tradiciones de la ciudad de <a href="/">El Alto</a></p>
{% endblock presentacion %}

{% block content %}

{% for festival in ContenidoApp %}
<article>
    <a class="thumbnail" href="{{festival.imagen.url}}" style="width: 100%; height: 100%;">
        <img src="{{festival.imagen.url}}" alt="" style="width: 100%; height: 100%;">
    </a>
    <h2>{{festival.nombre}}</h2>
    <p>{{festival.contenido}}</p>
</article>
{% endfor %}
{% endblock %}